/* styles.css */

.title-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.action-button {
    -fx-background-color: #007BFF;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
    -fx-border-radius: 5px;
}

.action-button:hover {
    -fx-background-color: #0056b3;
}

.text-field {
    -fx-font-size: 14px;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
}