.sidebar-button {
    -fx-background-color: #244975;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px;
}
.Appbar {
    -fx-background-color: #244975;
    -fx-text-fill: white;

}
.edit-button {
    -fx-background-color: #1b2e44;
    -fx-padding: 8px 12px;
    -fx-background-radius: 40px;
}
.icon-button {
    -fx-background-color: transparent;
    -fx-padding: 5px;
    -fx-text-fill: white;

}
.activityDesign{
    -fx-background-color: #9fb1c5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 5);


}
.formActivityDesign{
    -fx-background-color: #9fb1c5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 5);
    -fx-background-radius: 30; /* Ajoute un rayon de 15px aux coins */
    -fx-border-radius: 40;


}
.textfield{
    -fx-background-color: #ffffff;
    -fx-border-radius: 10;
    -fx-background-radius: 10;



}
/* style.css */
.main-pane {
    -fx-background-color: #f4f4f4;
}

.activity-grid {
    -fx-padding: 10px;
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
}

.add-button {
    -fx-background-color: #3498db;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
}

.add-button:hover {
    -fx-background-color: #2980b9;
}

.vbox-style {
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-background-color: #f9f9f9;
    -fx-padding: 10px;
}
.activity-scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
}
.left-side-background{
    -fx-background-color: linear-gradient(to left, #1b2e44,#354055);
    -fx-background-radius: 7px;
}
.sidebar {
    -fx-background-color: #aacedc;
    -fx-pref-width: 500px;
    -fx-min-width: 500px;
    -fx-max-width: 500px;
    -fx-padding: 16px 0;

}
.ForgetBtn{
    -fx-text-fill: #a3a3a3;
}

.ForgetBtn:hover{
    -fx-text-fill: #40a8c4;
    -fx-underline: true;
}
.LoginBtn{
    -fx-background-color: #bad7e6;
    -fx-text-fill: #00212e;
    -fx-background-radius: 5px;
}
.LoginBtn:hover{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-text-fill: #40a8c4;
    -fx-border-color:#40a8c4 ;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}
.nav-form{
    -fx-background-color: linear-gradient(to bottom right, #40a8c4,#1b2e44 );
}
.nav-btn{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 10px;
    -fx-font-family:"Arial";
    -fx-alignment: CENTER-LEFT;
}
.white-bg{
    -fx-background-color: #ffffff;
    -fx-background-radius: 8px;
}
.white-round-carts{
    -fx-background-color: #ffffff;
    -fx-background-radius: 20px;
}
.white-round-strip{
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
}
.round-btn{
    -fx-background-color: #f5f8ff;
    -fx-background-radius: 100%;

}

